{% extends "base.html" %}
{% block content %}
  <div class="card" style="margin-top:16px;">
    <div class="h1" style="font-size:26px;">Login</div>
    <form class="form" method="post">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      <div class="row">
        <div>
          <label>Email</label>
          <input name="email" type="email" placeholder="you@email.com" required />
        </div>
        <div>
          <label>Password</label>
          <input name="password" type="password" placeholder="••••••••" required />
        </div>
      </div>
      <button type="submit">Login</button>
      <div class="small">
        <a href="{{ url_for('reset_request') }}"><u>Forgot password?</u></a>
      </div>
      <div class="small">No account? <a href="{{ url_for('register') }}"><u>Create one</u></a></div>
    </form>
  </div>
{% endblock %}
